@model Fodraszat.Models.PurchasedProducts

@{
    ViewBag.Title = "Vásárolt termékek - részletek";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Vásárolt termék részletei</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Név
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Egységár
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>

    </dl>
</div>
<p class="right">
    @Html.ActionLink("Szerkesztés", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Vissza a listához", "Index")
</p>
